[submodule "lua"]
	path = thirdparties/lua
	url = https://github.com/lua/lua.git
[submodule "vcpkg"]
	path = thirdparties/vcpkg
	url = https://github.com/CasinoHe/vcpkg.git
[submodule "talib"]
	path = thirdparties/ta-lib
	url = https://github.com/CasinoHe/ta-lib.git
[submodule "wonder"]
	path = thirdparties/wonder
	url = https://github.com/CasinoHe/wondertrader.git
